{{ generator.renderField('moderation', record) | trans }}
{% if generator.renderField('moderation', record) in ['APROVED', 'REJECTED'] %}
    {% if generator.renderField('moderation_date', record) %}
        <br/>{{ generator.renderField('moderation_date', record) | date('d/m/Y') }}
    {% endif %}
    {% if generator.renderField('moderated_by', record) %}
        <br/><span class="label">{{ generator.renderField('moderated_by', record)}}</span>
    {% endif %}
{% endif %}